.main {
  padding: 40px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.sectionImage {
  width: 100%;
  height: 650px;
  background-color: white;
  object-fit: cover;
}

.sectionContainer {
  padding: 40px 0;
  width: 80%;
  border-radius: 20px;
}

.sectionHeader {
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.button {
  padding: 10px 20px;
  background-color: white;
  color: #007bff;
  font-weight: bold;
  border: 1px solid #007bff;
  border-radius: 100px;
  cursor: pointer;
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.titleCard {
  font-size: 14px;
  font-weight: 600;
}

.descount {
  color: gray;
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.distanceCard {
  font-size: 12px;
}

.buttonCard {
  padding: 5px 15px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 100px;
  cursor: pointer;
}

.arrow {
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 768px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }
}
